.container {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spinner-container {
    position: relative;
    height: 500px;
    width: 500px;
}

.spinner {
    border-radius: 50%;
    background-color: lightblue;
    box-shadow: 0 0 10px 5px grey;
}

.input {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.input-container {
    display: flex;
}

/* todo: no visible label for now */
.input-header {
    font-size: 12px;
}

.name-input {
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 8px;
    font-weight: bold;
    margin-right: 8px;
}

.names {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
}

.name {
    background-color: lightgrey;
    padding: 4px;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
}

.button {
    margin-right: 8px;
}

.winner {
    height: 30px;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 20px;
}

.dolphin {
    position: absolute;
    top: 42%;
    left: 42%;
    height: 80px;
    width: 80px;
    transform: rotate(-60deg);
    transition: all 3s;
}

.rotate {
    animation: spin 500ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
