:root {
    color: white;
    background-color: black;
    overflow: hidden;
}

.container {
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spinner-container {
    position: relative;
    height: 500px;
    width: 500px;
}

.spinner {
    border-radius: 50%;
    background-color: #12264d;
    box-shadow: 0 0 20px 2px #0c77a8;
}

.input {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 3px solid #0c77a8;
    border-radius: 15px;
    padding: 20px;
}

.input-container {
    display: flex;
}

/* todo: no visible label for now */
.inputs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.name-input {
    flex: 1;
    border: none;
    border-radius: 5px;
    background-color: #f7efad;
    color: #969eca;
    padding: 8px;
    font-weight: bold;
    margin-right: 8px;
}

.names {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto;
}

.name-container {
    display: flex;
    align-items: baseline;
}

.name {
    flex: 1;
    background-color: #94d0f2;
    padding: 4px 8px;
    color: #12264d;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.button {
    margin-right: 8px;
    background-color: #12264d;
    border-radius: 4px;
    border: 2px solid #12264d;
    color: #94d0f2;
    font-weight: bold;
    cursor: pointer;
}

.delete-button {
    margin-left: 8px;
}

.winner {
    height: 30px;
    text-align: center;
    border-top: 1px solid #bbeeff;
    padding-top: 20px;
}

.confetti {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.dolphin {
    position: absolute;
    top: 42%;
    left: 42%;
    height: 80px;
    width: 80px;
    transform: rotate(-60deg);
    transition: all 3s;
}

.rotate {
    animation: spin 500ms infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
